﻿@page "/counter"

<AuthorizeView Roles="User">
    <Authorized>
        <PageTitle>Counter</PageTitle>

        <h1>Cookie clicker</h1>

        <p role="status">Nombre de clics: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Imagine que j'suis un cookie</button>
    </Authorized>
    <NotAuthorized>
        Not Logged in
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
