@page "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>


<h1>Bienvenue sur ✨Manageur de tâches 40000✨ </h1>

<p>Projet réalisé par Eric Bazzara, Rémi Clinard, Rémi Thomazet et Maxime Thoumin--Desmullier.</p>

<p>De décembre 2023 à janvier 2024.</p>


<img src="./image-manageur.png" alt="Représentation du manageur de tâches" style="max-width: 100%; height: auto;" />
