﻿@page "/register"
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject RegisterService registerService
@inject AuthenticationStateProvider authStateProvider



<p class="title">Créer un nouveau compte</p>

@if (failed)
{
    <p class="error-msg">@errorMsg</p>
}

 
<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    Nom d'utilisateur  
    <InputText @bind-Value="loginModel.Username" />
    <br />
    Email
    <InputText @bind-Value="loginModel.Email" />
    <br />
    Mot de passe
    <InputText @bind-Value="loginModel.Password" type="password" />
    <br />
    <button type="submit" disabled=@(enAttente)>Créer compte</button>
</EditForm>

@code {
    private RegisterModel loginModel = new RegisterModel();

    private bool enAttente = false;
    private bool failed = false;
    private string errorMsg = "";

    private async void HandleLogin()
    {
        enAttente = true;
        var user = await registerService.RegisterUser(loginModel.Username, loginModel.Password, loginModel.Email);

        enAttente = false;

        if (user.ErrorMsg == "")
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            // Handle failed authentication
            enAttente = false;
            failed = true;
            errorMsg = user.ErrorMsg;
            Console.WriteLine(errorMsg);
            StateHasChanged();

        }
    }

    private class RegisterModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
        public string Email { get; set; } = "";
    }
}
