﻿
.task {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.task-text {
    flex-grow: 1;
}

.add-task {
    margin-top: 20px;
    margin-right: 20px;
}

.liste_des_taches {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tab-tasks {
    display: flex;
    flex-direction: column;
    /*background-color: beige;*/
    outline: 3px solid #E4FFFF;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
}

.tab-tasks:has(:hover) {
    /*background-color: antiquewhite;*/
}

.task_options {
    display: flex;
    margin: 5px;
}

.task_options > button, p {
    margin: 5px;
}

