﻿@page "/users"
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager

@inject LoginService loginService
@inject UserListService userListService
@inject AuthenticationStateProvider authStateProvider


<div class="liste_des_utilisateurs">

    @if (isLoaded)
    {
        @if (listeUsers == null)
        {
            <p>Seul un Admin peut voir la liste des utilisateurs</p>
        }
        @if (listeUsers != null)
        {
            <p>Liste des utilisateurs</p>

            @foreach (var user in listeUsers)
            {
                <div class="tab-user">

                    <div>
                        @user.Name
                        @user.Email
                        @user.Role
                    </div>

                </div>
            }
        }
    }

    @if (!isLoaded){
        <p>Données pas chargées</p>
    }

</div>

@code {
    private List<UserDTO> ? listeUsers;

    private bool isLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        await GetListUser();
    }
    private async Task GetListUser()
    {   
        string JWT = await ((CustomAuthenticationStateProvider)authStateProvider).getJWT();
        listeUsers = await userListService.getUsers(JWT);

        isLoaded = true;

        StateHasChanged();
    }
}