﻿@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div id="gifRick">
            <figure>
                <img src="./rick-astly-rick-rolled.gif" />
            </figure>
        </div>

        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Bonjour @context.User.Identity.Name !</span>
                    <a @onclick="Logout">Déconnexion</a>
                </Authorized>
                <NotAuthorized>
                    <span>Vous n'êtes pas connecté</span>
                </NotAuthorized>
            </AuthorizeView>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private async void Logout()
    {
        // Kill the session
        await((CustomAuthenticationStateProvider)authStateProvider).Logout();
        // Redirect the user to the login page
        NavigationManager.NavigateTo("/login"); 
    }
}

<!-- STYLE ET SCRIPT KONAMI CODE DEBUT-->

<style>
    #gifRick {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

        #gifRick img {
            max-width: 80%;
            max-height: 80%;
        }
</style>

<script>
    function setUpKonamiCode() {
        var sequence = [];
        var KonamiCode = ['ArrowUp', 'ArrowUp', 'ArrowDown', 'ArrowDown', 'ArrowLeft', 'ArrowRight', 'ArrowLeft', 'ArrowRight', 'b', 'a'];
        var maDiv = document.getElementById('gifRick');

        maDiv.style.display = 'none';

        document.addEventListener('keydown', function (event) {
            if (event.key === KonamiCode[sequence.length]) {
                sequence.push(event.key);
            }
            else {
                if (sequence[1] === 'ArrowUp' && event.key === 'ArrowUp') {
                    sequence = ['ArrowUp', 'ArrowUp'];
                }
                else {
                    sequence = [];
                }
            }

            if (JSON.stringify(sequence) === JSON.stringify(KonamiCode)) {
                maDiv.style.display = 'flex';

                sequence = [];
            }
            else {
                maDiv.style.display = 'none';
            }
        });
    }

    setUpKonamiCode();
</script>

<!-- STYLE ET SCRIPT KONAMI CODE FIN-->